{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      </h1>

      <form class="form" action="/vin-answer2" method="post">

        <div class="form-group">
      <fieldset>

        <legend>
          <h1 class="heading-large">How long have you had VIN</h1>
        </legend>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="vin-qs" value="Under 5 years">
          <label for="radio-1">Under 5 years</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="vin-qs" value="More than 5 years">
          <label for="radio-2">More than 5 years</label>
        </div>

      </fieldset>
    </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
